@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text- mt-4">Welcome To Candy Store</h1>
    <p class="mt-4">This is a fun place to be young again. Get all your favorite childhood candies with same taste.</p>
</div>
