@{
    ViewData["Title"] = "Home Page";
}

    <section class="home-section">
   <div class="container">
     <div class="row gx-5"> 
        <div class="col-md-6">
            <img src="~/img/home-pic.jpg" class="w-100 home-img"/>
        </div>
        <div class="col-md-6">
            <h1 class="display-4 text- mt-4">Welcome To Candy Store</h1>
            <p class="mt-4">This is a fun place to be young again. Get all your favorite childhood candies with same taste.</p>
        </div>
        </div>
        </div>
    </section>


